In [8]:
from math import exp, log, sqrt

In [1]:
import re

In [1]:
from datetime import date, time, datetime, timedelta

In [32]:
from operator import itemgetter

In [3]:
print("O1: I am dedicated to learn Data science.")

O1: I am dedicated to learn Data science.

In [4]:
#두 수를 더한다.
x=4
y=5
z=x+y

In [5]:
#format 에서 {0:d}, 0은 인덱스를 뜻함.
# {값:표시형식}
# d는 앞의 값을 소수접 없는 십진수로 표시하라고 형식을 지정해주는 것.
print("4 더하기 5는 {0:d} 와 같다.".format(z))

4 더하기 5는 9 와 같다.

In [6]:
a=10
b=20
c=30

In [7]:
print("오늘은 {0}살, 내일은 {1}살, 내일 모레는 {2}살!".format(a,b,c))

오늘은 10살, 내일은 20살, 내일 모레는 30살!

In [8]:
#두 리스트를 더한다.
q=[1,2,3,4]
w=["first", "second","third","fourth"]
e= q+w

In [9]:
print('O3: {0},{1},{2}'.format(q,w,e))

O3: [1, 2, 3, 4],['first', 'second', 'third', 'fourth'],[1, 2, 3, 4, 'first', 'second', 'third', 'fourth']

# 정수

In [1]:
x=9

In [4]:
print("Output #4: {0}".format(x))
print("Output #5: {0}".format(3**4))
print("Output #6: {0}".format(int(8.3)/int(2.7))) #int() 를 통해 정수형으로 변환

Output #4: 9
Output #5: 81
Output #6: 4.0

# 실수

In [7]:
print("Output #7: {0:.3f}".format(8.3/2.7)) #소수점 아래 3자리 실수형
y=2.5*4.8
print("Output #8: {0:.1f}".format(y)) #소수점 아래 1자리 실수형
r=8/float(3)
print("Output #9: {0:.2f}".format(r)) #소수점 아래 2자리 실수형
print("Output #10: {0:.4f}".format(8.0/3)) #소수점 아래 4자리 실수형

Output #7: 3.074
Output #8: 12.0
Output #9: 2.67
Output #10: 2.6667

In [9]:
print("Output #11: {0:.4f}".format(exp(3)))
print("Output #12: {0:.2f}".format(log(4)))
print("Output #13: {0:.1f}".format(sqrt(81)))

Output #11: 20.0855
Output #12: 1.39
Output #13: 9.0

# 문자열

In [13]:
print("Output #14: {0:s}".format("I'm enjoying learning python"))
print("Output #14-1: {0:s}".format('I\' m enjoying learning python')) #키보드에 역슬래시가 없을땐 원화표시로
print("Output #15: {0:s}".format('This is a long string. 긴 글에서 문장을 나누고자 할 때에\
문장 뒤에 역슬래쉬를 넣고 엔터(개행)을 하면 \
하나의 문자열로 인식이 된다. 다만 실수로라도 역슬래시 뒤에 \
공백이 포함되면 문장은 오류가 남.'))
print("Output #16: {0:s}".format('''
여러 줄을 입력하고자 할 때 안전한 방법은
3중 작은 따옴표를 사용하는 것이다.'''))
print("Output #17: {0:s}".format("""물론 삼중 큰따옴표를 사용하여
여러줄의 문자열을 입력하는 것도 가능하다."""))

Output #14: I'm enjoying learning python
Output #14-1: I' m enjoying learning python
Output #15: This is a long string. 긴 글에서 문장을 나누고자 할 때에문장 뒤에 역슬래쉬를 넣고 엔터(개행)을 하면 하나의 문자열로 인식이 된다. 다만 실수로라도 역슬래시 뒤에 공백이 포함되면 문장은 오류가 남.
Output #16:
여러 줄을 입력하고자 할 때 안전한 방법은
3중 작은 따옴표를 사용하는 것이다.
Output #17: 물론 삼중 큰따옴표를 사용하여
여러줄의 문자열을 입력하는 것도 가능하다.

In [15]:
s1='This is a '
s2='short string.'
sentence = s1+s2
print("Output #18: {0:s}".format(sentence))
print("Output #19: {0:s} {1:s}{2:s}".format("She is", "very "*4, "beautiful."))
m=len(sentence)
print("Output #20: {0:d}".format(m))

Output #18: This is a short string.
Output #19: She is very very very very beautiful.
Output #20: 23

# split

In [1]:
string1='My deliverable is due in May.'
string1_list1=string1.split()
string1_list2=string1.split(" ",2)
print("Output #21: {0}".format(string1_list1))
print("Output #22: FIRST PIECE:{0} | SECOND PEICE:{1} | THIRD PIECE:{2}"\
      .format(string1_list2[0],string1_list2[1],string1_list2[2]))

string2='Your,deliverable,is,due,in,June.'
string2_list=string2.split(',')
print("Output #23: {0}".format(string2_list))
print("Output #24: {0} {1} {2}".format(string2_list[1],string2_list[5],\
                                      string2_list[-1],))

Output #21: ['My', 'deliverable', 'is', 'due', 'in', 'May.']
Output #22: FIRST PIECE:My | SECOND PEICE:deliverable | THIRD PIECE:is due in May.
Output #23: ['Your', 'deliverable', 'is', 'due', 'in', 'June.']
Output #24: deliverable June. June.

In [2]:
print('Output #25: {0}'.format(",".join(string2_list)))

Output #25: Your,deliverable,is,due,in,June.

# strip

In [20]:
string3=" 원치 않는 문자를   이 문자열에서 삭제하기.\t\t   \n"
print('Output #26: String3:{0:s}'.format(string3))

Output #26: String3: 원치 않는 문자를   이 문자열에서 삭제하기.

In [21]:
string3_lstrip=string3.lstrip()
print('Output #27: String3_lstrip:{0:s}'.format(string3_lstrip))

Output #27: String3_lstrip:원치 않는 문자를   이 문자열에서 삭제하기.

In [22]:
string3_rstrip=string3.rstrip()
print('Output #28: String3_rstrip:{0:s}'.format(string3_rstrip))

Output #28: String3_rstrip: 원치 않는 문자를   이 문자열에서 삭제하기.

In [23]:
string3_strip=string3.strip()
print('Output #29: String3_strip:{0:s}'.format(string3_strip))

Output #29: String3_strip:원치 않는 문자를   이 문자열에서 삭제하기.

In [25]:
string4="$$이상한 글자가 여기 또 있네__--+++"
print('Output #30: String4:{0:s}'.format(string4))

Output #30: String4:$$이상한 글자가 여기 또 있네__--+++

In [26]:
string4="$$이상한 글자 다 지움.__--+++"
string4_strip=string4.strip("$_-+")
print('Output #31: String4_strip:{0:s}'.format(string4_strip))

Output #31: String4_strip:이상한 글자 다 지움.

# replace

In [30]:
string5="이 문장에 존재하는 공백문자를 다른 문자로 치환해봅시다."
string5_replace=string5.replace(" ","!@!")
print('Output #32: "!@!"로 치환: {0:s}'.format(string5_replace))

Output #32: "!@!"로 치환: 이!@!문장에!@!존재하는!@!공백문자를!@!다른!@!문자로!@!치환해봅시다.

In [31]:
string5_replace=string5.replace(" ",",")
print('Output #33:"쉼표"로 치환: {0:s}'.format(string5_replace))

Output #33:"쉼표"로 치환: 이,문장에,존재하는,공백문자를,다른,문자로,치환해봅시다.

# lower, upper, capitalize

In [32]:
string6="Here's WHAT Happens WHEN You Use lower."
print('Output #34: {0:s}'.format(string6.lower()))

Output #34: here's what happens when you use lower.

In [33]:
string7="Here's WHAT Happens WHEN You Use UPPER."
print('Output #35: {0:s}'.format(string7.upper()))

Output #35: HERE'S WHAT HAPPENS WHEN YOU USE UPPER.

In [34]:
#문장의 첫 글자만 대문자로 변환
string8="Here's WHAT Happens WHEN You Use Capitalise."
print('Output #36: {0:s}'.format(string8.capitalize()))

Output #36: Here's what happens when you use capitalise.

In [36]:
string8_list=string8.split()
print('Output #37: 각 단어')
for word in string8_list:
    print("{0:s}".format(word.capitalize()))

Output #37: 각 단어
Here's
What
Happens
When
You
Use
Capitalise.

# 정규 표현식

In [2]:
#문자열 내에 등장하는 패턴의 횟수를 세기
string = 'The quick brown fox jumps over the lazy dog.'
string_list =string.split()

In [6]:
pattern = re.compile(r"The", re.I)
# 괄호 안의 'r' 은 원시문자열(raw string)임을 나타냄.
# 원시문자열로 나타낼 경우, 파이썬이 문자열 내에서 \,\t,\n 등의 형태를 따로 처리 하지 않도록 함.
# re.compile 은 텍스트 기반의 문자를 정규표현식 형태로 컴파일 함. 
# 필수는 아니지만 프로그램의 속도 향상 가능
# re.I 는 패턴이 대/소문자 구분 없이 찾아낼 수 있도록 함. 
# The 와 the를 같게 인식. 
#pattern은 찾고자 하는 문자인 "the" 정규표현식 형태로 컴파일 하고, 대소문자 구분 없는 원시문자열을 담고 있음.

In [7]:
count = 0

In [8]:
for word in string_list:
    if pattern.search(word):
        count +=1
#for문은 string_list에 담긴 각 단어를 아래 if문으로 보냄.
#re.search()는 pattern 에 있는 단어와 word 가 같으면 "True", 다르면 "False" 를 출력하는 함수
#if 문은 "만일 단어가 정규표현식과 일치한다면 count 변수에 1을 더한다" 라는 의미.

In [9]:
print("Output #38: {0:d}".format(count))

Output #38: 2

In [11]:
#문자열 내에서 발견된 패턴 출력하기 
#일치하는 각 문자열을 화면에 출력하기 
string = 'The quick brown fox jumps over the lazy dog.'
string_list =string.split()
pattern = re.compile(r"(?P<match_word>The)", re.I)
#메타문자 (?P<이름>)에서 <이름> 이란 그룹명을 뜻하며, 
#일치한 문자열을 나중에 프로그램에서 다시 사용할 수 있게 해주는 변수명과 같은 개념

In [12]:
print("Output #39:")
for word in string_list:
    if pattern.search(word):
        print("{:s}".format(pattern.search(word).group('match_word')))
#if 문: "만약 결과가 True라면(=단어가 패턴과 일치한다면), search 함수가 반환한 자료구조를 들여다보고
#match_word의 그룹의 값을 가져온다음 그 값을 화면에 출력한다"

Output #39:
The
the

In [15]:
#문자열 내 'the'를 'a'로 대체하기
string1 = 'The quick brown fox jumps over the lazy dog.'
string_to_find = r"The" #대체할 변수. 문자열이 길 경우에는 변수에 할당하는 것이 적절.
pattern = re.compile(string_to_find, re.I)# 변수를 함수에 전달, 변수에 할당된 문자열을 대소문자 없이 인식하도록 컴파일
print("Output #40: {:s}".format(pattern.sub("a",string1)))
#re.sub("대체할 문자열", 원하는 원래 문장)
#string1 이라는 문자열 내에서 pattern과 일치하는 문자열을 'a'로 치환하기.

Output #40: a quick brown fox jumps over a lazy dog.

# 날짜

In [2]:
#오늘 날짜와 년, 월, 일 요소들을 출력하기
#년, 월, 일 요소 포함, 시, 분, 초 미포함
today = date.today()
print("Output #41: 오늘: {0!s}".format(today))
# {0!s} 에서 "!(느낌표)"의 의미는 
# print문에 전달된 값이 숫자 형식이더라도 문자열로 처리하라는 의미

Output #41: 오늘: 2022-07-01

In [3]:
print("Output #42: {0!s}".format(today.year))
print("Output #43: {0!s}".format(today.month))
print("Output #44: {0!s}".format(today.day))

Output #42: 2022
Output #43: 7
Output #44: 1

In [8]:
current_datetime = datetime.today()
#년, 월, 일, 시,분,초 포함
print("Output #45: {0!s}".format(current_datetime))

Output #45: 2022-07-01 08:07:56.311306

In [9]:
#timedelta 함수를 이용하여 새로운 날짜 계산하기
#하루 전
one_day = timedelta(days=-1)
yesterday = today + one_day
print("Output #46: 어제: {0!s}".format(yesterday))

Output #46: 어제: 2022-06-30

In [11]:
one_day1 = timedelta(days=10)
yesterday1 = today + one_day1
print("Output #46-1: 10일 후: {0!s}".format(yesterday1))
one_day2 = timedelta(hours=-8)
yesterday2 = today + one_day2
print("Output #46-2: 8시간 전: {0!s}".format(yesterday2))
one_day3 = timedelta(weeks=2)
yesterday3 = today + one_day3
print("Output #46-3: 2주 후: {0!s}".format(yesterday3))

Output #46-1: 10일 후: 2022-07-11
Output #46-2: 8시간 전: 2022-06-30
Output #46-3: 2주 후: 2022-07-15

In [12]:
#timedelta() 는 반드시 일:초:마이크로초 의 형식으로 변환하여 정규화 함. 
eight_hours = timedelta(hours=-8)
print("Output #47: {0!s}, {1!s}".format(eight_hours.days, eight_hours.seconds))
# 8시간 전(-8) 은 단순히 -28800초가 아니라
# 1일(86400초) 에서 -28800초한 57600초이다.

Output #47: -1, 57600

In [15]:
#두 날짜 사이의 날짜 차이를 계산하기
date_diff = today - yesterday
print("Output #48: {0!s}".format(date_diff))
print("Output #49: {0!s}".format(str(date_diff).split()[0]))

Output #48: 1 day, 0:00:00
Output #49: 1

In [16]:
#date 객체를 특정 형식의 문자열로 만들기
print("Output #50: {:s}".format(today.strftime("%m/%d/%Y")))
print("Output #51: {:s}".format(today.strftime("%b %d, %Y")))
print("Output #52: {:s}".format(today.strftime("%Y-%m-%d")))
print("Output #53: {:s}".format(today.strftime("%B %d, %Y")))

Output #50: 07/01/2022
Output #51: Jul 01, 2022
Output #52: 2022-07-01
Output #53: July 01, 2022

In [17]:
#날짜 문자열로부터 특정 형식의 dateime 객체를 생성하기
date1=today.strftime("%m/%d/%Y")
date2=today.strftime("%b %d, %Y")
date3=today.strftime("%Y-%m-%d")
date4=today.strftime("%B %d, %Y")

In [22]:
#다른 date 형식을 지는 4가지 문자열에 기반한
#각각 2종류의 datetime 객체들과 date 객체들
print("Output #54: {!s}".format(datetime.strptime(date1,"%m/%d/%Y")))
print("Output #55: {!s}".format(datetime.strptime(date2,"%b %d, %Y")))
#날짜부분만 출력하기
print("Output #56: {!s}".format(datetime.date(datetime.strptime(date3,"%Y-%m-%d"))))
print("Output #57: {!s}".format(datetime.date(datetime.strptime(date4,"%B %d, %Y"))))
#여기 마지막 두 예제는 다시 들여다 보기

Output #54: 2022-07-01 00:00:00
Output #55: 2022-07-01 00:00:00
Output #56: 2022-07-01
Output #57: 2022-07-01

# 리스트

In [9]:
# 리스트를 만들기 위해 대괄호를 사용한다. 
# len() 함수를 통해 리스트 내 원소의 수를 센다.
# max() 함수와 min() 함수는 최대/최소 값을 찾는다. 
# count() 함수는 리스트 내 특정 값이 등장한 횟수를 센다.
a_list= [1,2,3]
print("Output #58: {}".format(a_list))
print("Output #59: a_list는 총 {}개의 원소를 가지고 있음.".format(len(a_list)))
print("Output #60: a_list에서 가장 큰 값은 {}임.".format(max(a_list)))
print("Output #61: a_list에서 가장 작은 값은 {}임.".format(min(a_list)))
another_list = ["printer",5,["star","circle",9]]
print("Output #62: {}".format(another_list))
print("Output #63: another_list도 총 {}개의 원소를 가지고 있음.".format(len(another_list)))
print("Output #64: 숫자 5는 another_list에 {}번 들어감.".format(another_list.count(5)))

Output #58: [1, 2, 3]
Output #59: a_list는 총 3개의 원소를 가지고 있음.
Output #60: a_list에서 가장 큰 값은 3임.
Output #61: a_list에서 가장 작은 값은 1임.
Output #62: ['printer', 5, ['star', 'circle', 9]]
Output #63: another_list도 총 3개의 원소를 가지고 있음.
Output #64: 숫자 5는 another_list에 1번 들어감.

# 인덱스

In [10]:
# 리스트 내 특정 원소에 접근하려면 인덱스를 이용할 수 있다.
# [0]은 첫 번째 원소이다. [-1]은 마지막 원소이다.
print("Output #65: {}".format(a_list[0]))
print("Output #66: {}".format(a_list[1]))
print("Output #67: {}".format(a_list[2]))
print("Output #68: {}".format(a_list[-1]))
print("Output #69: {}".format(a_list[-2]))
print("Output #70: {}".format(a_list[-3]))
print("Output #71: {}".format(another_list[2]))
print("Output #72: {}".format(another_list[-1]))

Output #65: 1
Output #66: 2
Output #67: 3
Output #68: 3
Output #69: 2
Output #70: 1
Output #71: ['star', 'circle', 9]
Output #72: ['star', 'circle', 9]

# 리스트 분할하기

In [11]:
# 리스트 분할을 사용하여 리스트 원소들의 부분집합을 만들 수 있다.
# 맨 앞부터 분할하는 경우, 최초 인덱스는 생략
# 맨 뒤까지 리스트를 분할하는 경우, 마지막 인덱스는 생략
print("Output #73: {}".format(a_list[0:2]))
print("Output #74: {}".format(another_list[:2]))
print("Output #75: {}".format(a_list[1:3]))
print("Output #76: {}".format(another_list[1:]))

Output #73: [1, 2]
Output #74: ['printer', 5]
Output #75: [2, 3]
Output #76: [5, ['star', 'circle', 9]]

# 리스트 복사하기

In [12]:
# [:]를 이용하여 리스트 복사하기
a_new_list = a_list[:]
print("Output #77: {}".format(a_new_list))

Output #77: [1, 2, 3]

# 리스트 병합하기

In [14]:
# + 연산자를 이용하여 2개 이상의 리스트를 병합할 수 있다.
a_longer_list = a_list + another_list
print("Output #78: {}".format(a_longer_list))

Output #78: [1, 2, 3, 'printer', 5, ['star', 'circle', 9]]

# in과 not in

In [15]:
# in과 not in을 이용하여 특정 원소의 리스트 내 포함 여부를 확인 할 수 있다
a=2 in a_list
print("Output #79: {}".format(a))

Output #79: True

In [16]:
if 2 in a_list:
    print("Output #80: 2 is in {}".format(a_list))

Output #80: 2 is in [1, 2, 3]

In [18]:
b = 6 not in a_list
print("Output #81: {}".format(b))

Output #81: True

In [19]:
if 6 not in a_list:
    print("Output #82: 6 is not in {}".format(a_list))
    
# 논리를 추가하기 위해 사용할 수 있음. 
# in, not in + if문을 통해 제어 흐름을 만들 수 있음.

Output #82: 6 is not in [1, 2, 3]

# append, remove, pop 함수들

In [20]:
# append() 함수를 이용하여 리스트의 마지막에 원소를 추가할 수 있음.
# remove() 함수를 이용하여 리스트 내 특정 원소를 제거할 수 있음.
# pop() 함수를 이용하여 리스트의 마지막 원소를 제거할 수 있음. 

a_list.append(4)
a_list.append(5)
a_list.append(6)
print("Output #83: {}".format(a_list))

# 특정 고객의 구매목록을 생성하고 싶을때
# 고객X 의 빈 리스트 생성, 구매목록 탐색, 고객X의 구매건을 확인하면 추가하기

Output #83: [1, 2, 3, 4, 5, 6]

In [21]:
a_list.remove(5)
print("Output #84: {}".format(a_list))

#오류나 오타를 제거하는데 사용할 수 있음

Output #84: [1, 2, 3, 4, 6]

In [22]:
a_list.pop()
a_list.pop()
print("Output #85: {}".format(a_list))

# 리스트의 끝에서부터 제거

Output #85: [1, 2, 3]

# reverse 함수

In [25]:
# reverse() 함수를 이용하여 리스트를 반전할 수 있다. 
# 해당 리스트 내에서(inplace) 변경이 일어나므로
# 기존 리스트를 변경하지 않고 반전하려면 먼저 사본을 만들어야 함.

a_list.reverse()
print("Output #86: {}".format(a_list))
a_list.reverse()
print("Output #87: {}".format(a_list))

# 인플레이스: 원본 변수 자체가 변경된다는 의미

Output #86: [3, 2, 1]
Output #87: [1, 2, 3]

# sort 함수

In [26]:
# sort() 함수를 이용하여 리스트를 인플레이스로 정렬할 수 있다.
# 즉, 기존(원본)의 리스트가 변경된다는 의미이므로
# 원본의 변경을 원치 않는다면 사본을 만들어 작업하기

unordered_list = [3,5,1,7,2,8,4,9,0,6]
print("Output #88: {}".format(unordered_list))

Output #88: [3, 5, 1, 7, 2, 8, 4, 9, 0, 6]

In [29]:
list_copy = unordered_list[:]
list_copy.sort()
print("Output #89: {}".format(list_copy))
print("Output #90: {}".format(unordered_list))

# 사본은 인플레이스로 정렬되었으나 원본은 그대로임

Output #89: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Output #90: [3, 5, 1, 7, 2, 8, 4, 9, 0, 6]

# sorted 함수

In [31]:
# sorted() 함수를 이용하여 리스트들의 특정 위치에 따라 리스트를 정렬 할 수 있다. 
my_lists = [[1,2,3,4], [4,3,2,1], [2,4,1,3]]
my_lists_sorted_by_index_3 = sorted(my_lists, key=lambda index_value: index_value[3])
print("Output #91: {}".format(my_lists_sorted_by_index_3))

# sorted() 와 key를 결합애서 각 리스트에 있는 특정 인덱스에 있는 값에 따라 중첩리스트를 정렬
# key 함수는 리스트를 정렬하기 위해 사용될 기준임.
# 예제는 "람다함수로, 인덱스 3에 위치한 값(즉, 4번 째 값)을 기준으로 정렬한다"는 의미
# my_lists[0] = [1,2,3,4]에서 인덱스3 자리의 값은 "4" 
# my_lists[1] = [4,3,2,1]에서 인덱스3 자리의 값은 "1" 
# my_lists[2] = [2,4,1,3]에서 인덱스3 자리의 값은 "3"
# 따라서 my_lists[1]이 1등, my_lists[2]가 2등, my_lists[0]가 3등으로 정렬됨!!! (어려웠다....)

Output #91: [[4, 3, 2, 1], [2, 4, 1, 3], [1, 2, 3, 4]]

In [34]:
# itemgetter() 함수를 이용하여 2개의 인덱스 위치에 따라 리스트를 정렬할 수 있다.
my_lists=[[123,2,2,444], [22,6,6,444], [354,4,4,678], [236,5,5,678],\
         [578,1,1,290],[461,1,1,290]]
my_lists_sorted_by_index_3_and_0 = sorted(my_lists, key=itemgetter(3,0))
print("Output #92: {}".format(my_lists_sorted_by_index_3_and_0))
# 1차 기준: 인덱스 3으로 1차 정렬 수행
# 2차 기준: 인덱스 0으로 2차 정렬 수행
# sorted 함수는 인플레이스가 아님.
# 두 개 이상의 기준으로 데이터를 정렬해야 할 때 유용하게 사용 가능

Output #92: [[461, 1, 1, 290], [578, 1, 1, 290], [22, 6, 6, 444], [123, 2, 2, 444], [236, 5, 5, 678], [354, 4, 4, 678]]

# 튜플

In [1]:
# 튜플은 리스트와 유사하나 변경이 불가함 
# 괄호 사용하여 튜플 생성하기
my_tuple = ('x','y','z')
print("Output #93: {}".format(my_tuple))
print("Output #94: My_tuple은 {}개의 원소를 가짐.".format(len(my_tuple)))
print("Output #95: {}".format(my_tuple[1]))
longer_tuple = my_tuple + my_tuple
print("Output #96: {}".format(longer_tuple))

Output #93: ('x', 'y', 'z')
Output #94: My_tuple은 3개의 원소를 가짐.
Output #95: y
Output #96: ('x', 'y', 'z', 'x', 'y', 'z')

# 튜플 풀기(unpacking)

In [2]:
# 할당 연산자(=)의 왼편에 튜플을 풀기
one, two, three = my_tuple
print("Output #97: {0} {1} {2}".format(one, two, three))
var1 = 'red'
var2 = 'robin'
print("Output #98: {} {}".format(var1, var2))
# 변수간 값 교환하기
var1,var2 = var2,var1
print("Output #99: {} {}".format(var1, var2))

Output #97: x y z
Output #98: red robin
Output #99: robin red

# 튜플<->리스트

In [3]:
#tuple to list, list to tuple
my_list = [1,2,3]
my_tuple = ('x','y','z')
print("Output #100: {}".format(tuple(my_list)))
print("Output #101: {}".format(list(my_tuple)))

Output #100: (1, 2, 3)
Output #101: ['x', 'y', 'z']

# 딕셔너리

In [ ]:
# 딕셔너리는 키로 접근하기때문에 딕셔너리 내부의 원소들은 정렬되어 있지 않음.(순서가 없다는 말)
# 리스트는 인텍스로 접근하기 때문에 순서를 가지고 있음

# 딕셔너리 생성

In [5]:
# 중괄호를 이용하여 딕셔너리 생성
# 키와 값 사이에 콜론 사용
# len() 함수는 딕셔너리의 키-값 깡의 수를 셈
empty_dic = {}
a_dict = {'one': 1, 'two': 2, 'three': 3}
print("Output #102: {}".format(a_dict))
print("Output #103: a_dict는 {!s}개의 원소를 가지고 있음.".format(len(a_dict)))
another_dict = {'x': 'printer', 'y': 5, 'z': ['star', 'circle', 9]}
print("Output #104: {}".format(another_dict))
print("Output #105: another_dict는 {!s}개의 원소를 가지고 있음.".format(len(another_dict)))

Output #102: {'one': 1, 'two': 2, 'three': 3}
Output #103: a_dict는 3개의 원소를 가지고 있음.
Output #104: {3: 'printer', 'y': 5, 'z': ['star', 'circle', 9]}
Output #105: another_dict는 3개의 원소를 가지고 있음.

# 딕셔너리 내 값 접근

In [10]:
print("Output #106: {}".format(a_dict['two']))
print("Output #107: {}".format(another_dict['z']))

Output #106: 2
Output #107: ['star', 'circle', 9]

# 딕셔너리 복사

In [11]:
# copy() 함수를 이용하여 딕셔너리의 사본을 만들 수 있음
a_new_dict = a_dict.copy()
print("Output #108: {}".format(a_new_dict))

Output #108: {'one': 1, 'two': 2, 'three': 3}