In [3]:
print("O1: I am dedicated to learn Data science.")

O1: I am dedicated to learn Data science.

In [4]:
#두 수를 더한다.
x=4
y=5
z=x+y

In [5]:
#format 에서 {0:d}, 0은 인덱스를 뜻함.
# {값:표시형식}
# d는 앞의 값을 소수접 없는 십진수로 표시하라고 형식을 지정해주는 것.
print("4 더하기 5는 {0:d} 와 같다.".format(z))

4 더하기 5는 9 와 같다.

In [6]:
a=10
b=20
c=30

In [7]:
print("오늘은 {0}살, 내일은 {1}살, 내일 모레는 {2}살!".format(a,b,c))

오늘은 10살, 내일은 20살, 내일 모레는 30살!

In [8]:
#두 리스트를 더한다.
q=[1,2,3,4]
w=["first", "second","third","fourth"]
e= q+w

In [9]:
print('O3: {0},{1},{2}'.format(q,w,e))

O3: [1, 2, 3, 4],['first', 'second', 'third', 'fourth'],[1, 2, 3, 4, 'first', 'second', 'third', 'fourth']

In [1]:
x=9

In [4]:
print("Output #4: {0}".format(x))
print("Output #5: {0}".format(3**4))
print("Output #6: {0}".format(int(8.3)/int(2.7))) #int() 를 통해 정수형으로 변환

Output #4: 9
Output #5: 81
Output #6: 4.0

In [7]:
print("Output #7: {0:.3f}".format(8.3/2.7)) #소수점 아래 3자리 실수형
y=2.5*4.8
print("Output #8: {0:.1f}".format(y)) #소수점 아래 1자리 실수형
r=8/float(3)
print("Output #9: {0:.2f}".format(r)) #소수점 아래 2자리 실수형
print("Output #10: {0:.4f}".format(8.0/3)) #소수점 아래 4자리 실수형

Output #7: 3.074
Output #8: 12.0
Output #9: 2.67
Output #10: 2.6667

In [8]:
from math import exp, log, sqrt

In [9]:
print("Output #11: {0:.4f}".format(exp(3)))
print("Output #12: {0:.2f}".format(log(4)))
print("Output #13: {0:.1f}".format(sqrt(81)))

Output #11: 20.0855
Output #12: 1.39
Output #13: 9.0

In [13]:
print("Output #14: {0:s}".format("I'm enjoying learning python"))
print("Output #14-1: {0:s}".format('I\' m enjoying learning python')) #키보드에 역슬래시가 없을땐 원화표시로
print("Output #15: {0:s}".format('This is a long string. 긴 글에서 문장을 나누고자 할 때에\
문장 뒤에 역슬래쉬를 넣고 엔터(개행)을 하면 \
하나의 문자열로 인식이 된다. 다만 실수로라도 역슬래시 뒤에 \
공백이 포함되면 문장은 오류가 남.'))
print("Output #16: {0:s}".format('''
여러 줄을 입력하고자 할 때 안전한 방법은
3중 작은 따옴표를 사용하는 것이다.'''))
print("Output #17: {0:s}".format("""물론 삼중 큰따옴표를 사용하여
여러줄의 문자열을 입력하는 것도 가능하다."""))

Output #14: I'm enjoying learning python
Output #14-1: I' m enjoying learning python
Output #15: This is a long string. 긴 글에서 문장을 나누고자 할 때에문장 뒤에 역슬래쉬를 넣고 엔터(개행)을 하면 하나의 문자열로 인식이 된다. 다만 실수로라도 역슬래시 뒤에 공백이 포함되면 문장은 오류가 남.
Output #16:
여러 줄을 입력하고자 할 때 안전한 방법은
3중 작은 따옴표를 사용하는 것이다.
Output #17: 물론 삼중 큰따옴표를 사용하여
여러줄의 문자열을 입력하는 것도 가능하다.

In [15]:
s1='This is a '
s2='short string.'
sentence = s1+s2
print("Output #18: {0:s}".format(sentence))
print("Output #19: {0:s} {1:s}{2:s}".format("She is", "very "*4, "beautiful."))
m=len(sentence)
print("Output #20: {0:d}".format(m))

Output #18: This is a short string.
Output #19: She is very very very very beautiful.
Output #20: 23

In [17]:
string1='My deliverable is due in May.'
string1_list1=string1.split()
string1_list2=string1.split(" ",2)
print("Output #21: {0}".format(string1_list1))
print("Output #22: FIRST PIECE:{0} SECOND PEICE:{1} THIRD PIECE:{2}"\
      .format(string1_list2[0],string1_list2[1],string1_list2[2]))

string2='Your,deliverable,is,due,in,June.'
string2_list=string2.split(',')
print("Output #23: {0}".format(string2_list))
print("Output #24: {0} {1} {2}".format(string2_list[1],string2_list[5],\
                                      string2_list[-1],))

Output #21: ['My', 'deliverable', 'is', 'due', 'in', 'May.']
Output #22: FIRST PIECE:My SECOND PEICE:deliverable THIRD PIECE:is due in May.
Output #23: ['Your', 'deliverable', 'is', 'due', 'in', 'June.']
Output #24: deliverable June. June.